unpackaged/enablement/hed/flows/Example_Auto_Apply_Success_Plan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Auto Success Plan</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Fire Apply Flow</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>AutoApplySuccessPlanTemplate</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>ContactId</name>
            <value>
                <elementReference>myVariable_current.hed__Contact__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>GPA Is Below 2.0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>[Example] Automatically apply a Success Plan when an advisee&apos;s GPA drops below 2.0</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    [hed__Program_Enrollment__c].hed__GPA__c &lt; 2,
    NOT(ISBLANK([hed__Program_Enrollment__c].hed__GPA__c)),
    OR(
        ISBLANK(PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c)),
        PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c) &gt;= 2,
        AND(
            [hed__Program_Enrollment__c].hed__GPA__c &lt;&gt; 0,
            OR(
                PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c) == 0,
                ISNEW()
            )
        )
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!myVariable_current.hed__GPA__c} &lt; 2,
    NOT(ISBLANK({!myVariable_current.hed__GPA__c})),
    OR(
        ISBLANK(PRIORVALUE({!myVariable_current.hed__GPA__c})),
        PRIORVALUE({!myVariable_current.hed__GPA__c}) &gt;= 2,
        AND(
            {!myVariable_current.hed__GPA__c} &lt;&gt; 0,
            OR(
                PRIORVALUE({!myVariable_current.hed__GPA__c}) == 0,
                ISNEW()
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
    [hed__Program_Enrollment__c].hed__GPA__c &lt; 2,
    NOT(ISBLANK([hed__Program_Enrollment__c].hed__GPA__c)),
    OR(
        ISBLANK(PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c)),
        PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c) &gt;= 2,
        AND(
            [hed__Program_Enrollment__c].hed__GPA__c &lt;&gt; 0,
            OR(
                PRIORVALUE([hed__Program_Enrollment__c].hed__GPA__c) == 0,
                ISNEW()
            )
        )
    )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!myVariable_old.hed__GPA__c} &lt; 2,
    NOT(ISBLANK({!myVariable_old.hed__GPA__c})),
    OR(
        ISBLANK(PRIORVALUE({!myVariable_old.hed__GPA__c})),
        PRIORVALUE({!myVariable_old.hed__GPA__c}) &gt;= 2,
        AND(
            {!myVariable_old.hed__GPA__c} &lt;&gt; 0,
            OR(
                PRIORVALUE({!myVariable_old.hed__GPA__c}) == 0,
                ISNEW()
            )
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Example_Auto_Apply_Success_Plan-1_InterviewLabel</interviewLabel>
    <label>[Example] Apply Success Plan - GPA 2.0 Threshold</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>hed__Program_Enrollment__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Program_Enrollment__c</objectType>
    </variables>
</Flow>
