unpackaged/config/k12/flows/AutoApplySuccessPlanTemplate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Count_of_Plans</name>
        <label>Set Count of Success Plans</label>
        <locationX>525</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>varSuccessPlanCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Lookup_Existing_Success_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_records</name>
        <label>Are there records</label>
        <locationX>305</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>If_No_Plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSuccessPlanCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Success_Plan</targetReference>
            </connector>
            <label>If No Plans</label>
        </rules>
    </decisions>
    <interviewLabel>Auto Success Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Success Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Success_Plan</name>
        <label>Create Success Plan</label>
        <locationX>316</locationX>
        <locationY>697</locationY>
        <inputAssignments>
            <field>%%%NAMESPACE%%%Advisee__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACE%%%AutoApply__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACE%%%FromTemplate__c</field>
            <value>
                <elementReference>Get_Attendance_Support_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>%%%NAMESPACE%%%IsPublished__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>%%%NAMESPACE%%%SuccessPlan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendance_Support_Template</name>
        <label>Get Attendance Support Template</label>
        <locationX>318</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Existing_Success_Plans</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendance Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>%%%NAMESPACE%%%SuccessPlanTemplate__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We will look to see if the student already has an active success plan of type &quot;Attendance Support&quot;</description>
        <name>Lookup_Existing_Success_Plans</name>
        <label>Lookup Existing Success Plans</label>
        <locationX>695</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Plans</targetReference>
        </connector>
        <filters>
            <field>%%%NAMESPACE%%%FromTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Attendance_Support_Template.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>%%%NAMESPACE%%%Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>%%%NAMESPACE%%%SuccessPlan__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>437</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_Attendance_Support_Template</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of Success Plans Retrieved. Default 0</description>
        <name>varSuccessPlanCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
